:root {
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 1.6rem;
}
#footer_container {
    background-color: red;
}
