:root {
    font-size: 62.5%;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 1.6rem;
}
.content_wrapper {
    max-width: 80vw;
    display: flex;
}

.button {
    border-radius: 50px;
    background-color: #ffffff;
    color: #000000;
    padding: 0.7rem 1rem 0.7rem 1rem;
    display: block;
    text-decoration: none;
}
.button:hover {
    background-color: #d5d5d5;
}
.section {
    background-color: #28201f;
    color: #ffffff;
    display: flex;
    width: 100vw;
    max-width: 100vw;
    justify-content: center;
}
#nav {
    background-color: #1e1817;
    color: #ffffff;
    height: 60px;
    align-items: center;
}
#nav_inner {
    width: 100%;
    max-height: 60px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#nav_list {
    display: flex;
    gap: 2rem;
}
#nav_list > li {
    list-style: none;
}
.nav_item {
    color: #ffffff;
    text-decoration: none;
}
.nav_item:hover {
    text-decoration: underline;
}
#logo {
    max-height: 50px;
    width: auto;
    display: block;
}
img {
    display: block;
}
#hero_img {
    width: 100vw;
}
#promotion_inner {
    padding: 5rem;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
#soon_available {
    flex-direction: column;
}
#soon_available > div:first-child {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.soon_available_img {
    width: 50%;
}
#soon_available_inner {
    padding: 5rem;
    display: flex;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
#featured_inner {
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

#featured_inner > p {
    font-size: 2.8rem;
    padding: 0 0 0 0.5rem;
    color: #ffffff;
}

#featured_photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 100%;
}
#featured_photos img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    transition: transform 0.3s ease;
}
#shop_inner {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 3rem;
    width: 100%;
    padding: 3rem 0;
}
#shop_sidebar {
    padding: 2rem;
}
#shop_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.shop_item_img {
    width: 100%;
    aspect-ratio: 1 / 1; /* vierkant */
    object-fit: cover;
    background-color: #f5f5f5;
}

.shop_item p {
    margin-top: 0.5rem;
}
#footer {
    background-color: #1e1817;
    color: #ffffff;
}
#footer_inner {
    width: 100%;
    justify-content: space-around;
    padding: 2rem;
}
.footer_row {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
}
