:root {
    font-size: 62.5%;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 1.6rem;
}
.content_wrapper {
    max-width: 80vw;
    display: flex;
}
.button {
    border-radius: 50px;
    background-color: #ffffff;
    color: #000000;
    padding: 0.7rem 1rem 0.7rem 1rem;
    display: block;
    text-decoration: none;
}
.button:hover {
    background-color: #d5d5d5;
}
.section {
    display: flex;
    max-width: 100vw;
    justify-content: center;
}
#nav {
    background-color: #1e1817;
    color: #ffffff;
    height: 60px;
    align-items: center;
}
#nav_inner {
    width: 100%;
    max-height: 60px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#nav_list {
    display: flex;
    gap: 2rem;
}
#nav_list > li {
    list-style: none;
}
.nav_item {
    color: #ffffff;
    text-decoration: none;
}
.nav_item:hover {
    text-decoration: underline;
}
#logo {
    max-height: 50px;
    width: auto;
    display: block;
}
img {
    display: block;
}
#hero_img {
    max-width: 100%;
}
#promotion {
    background-color: #28201f;
    color: #ffffff;
}
#promotion_inner {
    padding: 5rem;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
#soon_available {
    background-color: #28201f;
    color: #ffffff;
    flex-direction: column;
}
#soon_available > div:first-child {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.soon_available_img {
    width: 50%;
}
#soon_available_inner {
    padding: 5rem;
    display: flex;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
#footer {
    background-color: #1e1817;
    color: #ffffff;
}
#footer_inner {
    width: 100%;
    justify-content: space-around;
    padding: 2rem;
}
.footer_row {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
}
